.register.buddypress .field-visibility-settings-notoggle {
	display: none;
}

.register.buddypress #signup_submit {
	background: #ef4b2e;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	padding: 11px 17px 7px;
	border: 0;
	color: #fff;
	font-size: 16px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.register.buddypress #signup_submit:hover {
	background: #bbb;
}

#bbpress-forums {
	margin-top: 20px;
	font-size: 15px;
}

div.bbp-breadcrumb, div.bbp-topic-tags {

}

#bbpress-forums div.bbp-template-notice.info {
	background-color: #141412;
	color: #fff;
	border: 0;
	padding: 6px 10px;
}

#bbpress-forums div.bbp-template-notice p {
	font-size: 14px;
}

#bbpress-forums div.bbp-template-notice p a {
	color: #fff;
}

#bbpress-forums div.bbp-template-notice p img {
	vertical-align: top;
	width: 16px;
	border: 0!important;
	margin: 0 5px;
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	font-size: 15px!important;
}

#buddypress .standard-form textarea, #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="color"], #buddypress .standard-form input[type="date"], #buddypress .standard-form input[type="datetime"], #buddypress .standard-form input[type="datetime-local"], #buddypress .standard-form input[type="email"], #buddypress .standard-form input[type="month"], #buddypress .standard-form input[type="number"], #buddypress .standard-form input[type="range"], #buddypress .standard-form input[type="search"], #buddypress .standard-form input[type="tel"], #buddypress .standard-form input[type="time"], #buddypress .standard-form input[type="url"], #buddypress .standard-form input[type="week"], #buddypress .standard-form select, #buddypress .standard-form input[type="password"], #buddypress .dir-search input[type="search"], #buddypress .dir-search input[type="text"] {
	 border: 0!important;
	background: #fff!important;
	-webkit-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
}

#user_login, #user_pass {
	background-color: #fff!important;
}