/* Desktop and bigger */
@media (min-width: 1000px) {
  .visible-small {
    display: none !important;
  }
  .visible-medium {
    display: none !important;
  }
  .hidden-large {
    display: none !important;
  }

	.home .site-main #primary {
		top: 30px!important;
	}
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 999px) {
  .visible-small {
    display: none !important;
  }
  .visible-large {
    display: none !important ;
  }
  .hidden-medium {
    display: none !important;
  }

}
/* Phone landscape and smaller */
@media (max-width: 767px) {
  .visible-medium {
    display: none !important;
  }
  .visible-large {
    display: none !important;
  }
  .hidden-small {
    display: none !important;
  }
}


@media only screen and (max-width: 1040px), only screen and (max-device-width: 1040px) {
	.nav-menu > li > a {
		padding: 9px 18% 5px;
	}	

	#submenu ul.submenu-menu li {
		padding: 12px 2% 5px;
	}

	.welcome-package {
		background: rgba(0, 0, 0, 0.6);
	}

}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {

	.site-main .sidebar-container {
		display: none;
	}

	.site-main #primary, #welcome-interior {
		width: 100%;
	}

	.nav-menu > li > a {
		padding: 9px 16% 5px;
		font-size: 15px;
	}

	#submenu ul.submenu-menu li {
		padding: 12px 2% 5px;
		font-size: 15px;
	}


	

}

@media only screen and (max-width: 750px), only screen and (max-device-width: 750px) {
	.nav-menu > li > a {
		padding: 9px 11% 5px;
		font-size: 14px;
	}

	#submenu ul.submenu-menu li {
		font-size: 13px;
    		padding: 12px 1% 5px;
	}

	.site-footer .sidebar-container aside:nth-child(3), .site-footer .sidebar-container aside:last-child {
		display: none;
	}

	.sidebar .site-footer .widget {
		width: 48%!important;
		margin: 0 1%!important;
	}

	.single .favorites-link {
		float: none;
	}

}

@media only screen and (max-width: 650px), only screen and (max-device-width: 650px) {
	
	.triple-grid li, .triple-grid li:nth-of-type(3n+2) {
		width: 45.6%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.store-search .search-form {
		display: none;
	}

	.sub-category-button, .sub-category-button:nth-of-type(3n+2), #services-categories a:nth-child(3n+2) .sub-category-button, #experts-categories a:nth-child(3n+2) .sub-category-button {
		width: 45.6%;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 1em;
	}

	.category-page .entry-title {
		bottom: 33px;
    		font-size: 20px;
    		left: 0;
    		max-width: 100%;
    		padding: 10px 2%;
    		right: 0;
    		text-align: left;
    		width: 100%;
		line-height: 24px;
	}

	.interior-header h1, .homepage-header h1, h1.entry-title, .archive h1.entry-title, .archive-title {
		font-size: 26px;
	}

	.overlay {
		width: 100%;
		height: 100%;
		max-height: 100%;
	}

}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	.site-header .home-link img {
		width: 100%;
	}

	.site-header .store-search {
		width: 100%;
		border-bottom: 2px solid #141412;
		margin-top: 5px;
		padding: 0 1.5%;
	}

	#top-social-wrap a.join-button {
		display: none;
	}

	a.mobile-join-button {
		display: block;
	}

	.site-header .store-search #top-social-wrap {
		float: left;
	}

	#submenu {
		display: none;
	}

	.sidr ul li a, .sidr ul li span {
		text-transform: uppercase;
		color: #fff;
		font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	}

	.sidr-links {
		display: block;
	}

	.navbar {
		text-align: left;
		padding: 5px 2%;
	}

	.navbar #site-navigation {
		display: none;
	}

	a.sidr-link {
		text-transform: uppercase;
		color: #fff;
		font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	}

	a.sidr-link img {
		height: 20px;
    		vertical-align: top;
		margin: 1px 3px 0;
	}

	#sidr-left-link {
		
	}

	#sidr-right-link {
		float: right;
		margin-top: 2px;
	}

	.sidr .search-field, .sidr input[type="search"] {
		vertical-align: middle;
		border: 0;
		width: 100%;
		padding: 0 7px 0 34px;
		font-size: 13px;
		height: 30px;
		-webkit-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
		-moz-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
		box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
		background-color: #fff;
    		background-image: url("images/search-icon.png");
		background-repeat: no-repeat;
		background-size: 17px 17px;
		background-position: 9px center;
		margin-top: 20px;
	}

	.sidr .search-field:focus, .sidr input[type="search"]:focus {
		border: 2px solid #dcdcdc;
		width: 230px;
	}

	.category-workouts .entry-content img {
		width: 100%!important;
		height: auto;
	}

	#social-share a, .printfriendly {
		width: 50px;
	}

	.category-page .entry-container {
		bottom: auto;
		width: 100%;
		position: relative;
		margin-bottom: 15px;
	}

	.category-page a .entry-container div.view {
		display: none;
	}

	.category-page .entry-container .entry-title {
		padding: 0 0 10px;
	}
	
	.is-threaded:before {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 430px) {

	.author-info {
		text-align: center;
	}
	
	.author-avatar .avatar {
		float: none;
		margin: 0 auto 30px;
	}
	
	.author .author-social {
		clear: both;
	}
	
	.author-description {
		text-align: left;
	}

}


@media only screen and (max-width: 400px) {

	ul.triple-grid {
		width: 90%;
		margin: 0 auto;
	}
			
	.triple-grid li, .triple-grid li:nth-of-type(3n+2) {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		overflow:hidden;
	}
	
	.triple-thumbnail {
		height: 350px;
		position: relative;
	}
	
	.triple-thumbnail img {
		position: absolute;
		top: -45px;
	}

	.sidebar .site-footer .widget {
		 float: none !important;
    		margin: 0 auto 50px !important;
    		width: 90% !important;
	}
}

@media only screen and (max-width: 380px) {

	#social-share a, .printfriendly {
		width: 40px;
	}

	a.sidr-link {
		font-size: 14px;
	}

	#sidr-right-link {
		margin-top: 3px;
	}

	.category-page .entry-title {
    		bottom: auto;
    		margin-top: 10px !important;
    		position: relative;
	}
}