/*--------------- Newsletter Styles --------*/
#buddypress .standard-form .checkbox label:first-of-type {
	//min-height: 30px!important;
	display: block !important;
    	font-size: 25px !important;
    	padding-top: 50px;
    	width: 100%;
	line-height: 29px!important;
}

.newsletter-photo {
	border: 0;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	background-color: rgb(150,150,150);
	width: 100%;
	height: 200px;
	padding-bottom: 5px;
	background: url('images/newsletter/romance.png') no-repeat;
	background-size: 100%;
	margin-bottom: 13px;
}

.sidebar-inner .newsletter-photo {
	display: none;
}

#buddypress .standard-form .checkbox label {
	display: inline-block;
	width: 47%;
	//min-height: 400px;
	vertical-align: top;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
}

#buddypress .standard-form .checkbox label input[type="checkbox"] {
	margin-right: 6px;
}

#buddypress .standard-form .checkbox label .newsletter-description {
	font-family: Lato;
	text-transform: none;
}

#buddypress .standard-form .checkbox label:nth-child(odd) {
	margin-right: 5%;
}

#buddypress .standard-form .checkbox label img {
	max-width: 100%;
}

#next-page {
	background: none repeat scroll 0% 0% rgb(239, 75, 46);
	font-family: 'BrandonGrotesque-Bold','Century Gothic',sans-serif;
	text-transform: uppercase;
	padding: 12px 17px 6px;
	border: 0px none;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

#next-page:hover {
	background: none repeat scroll 0% 0% rgb(187, 187, 187);
}

#previous-page {
	background: none repeat scroll 0% 0% rgb(239, 75, 46);
	font-family: 'BrandonGrotesque-Bold','Century Gothic',sans-serif;
	text-transform: uppercase;
	padding: 12px 17px 6px;
	border: 0px none;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

#previous-page:hover {
	background: none repeat scroll 0% 0% rgb(187, 187, 187);
}

.newsletter-photo#your-spirit-photo {
	background: url('images/newsletter/spirit.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-fitness-photo {
	background: url('images/newsletter/fitness.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-beauty-photo {
	background: url('images/newsletter/beauty.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-cooking-photo {
	background: url('images/newsletter/cooking.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-nutrition-photo {
	background: url('images/newsletter/nutrition.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-family-and-friends-photo {
	background: url('images/newsletter/family.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-home-photo {
	background: url('images/newsletter/home.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-productivity-photo {
	background: url('images/newsletter/productivity.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-profession-photo {
	background: url('images/newsletter/profession.png') no-repeat;
	background-size: 100%;
}

.newsletter-photo#your-meditation-and-relaxation-photo {
	background: url('images/newsletter/relaxation.png') no-repeat;
	background-size: 100%;
}

/* ========================================================================
   Component: Grid
 ========================================================================== */
/*
 * Micro clearfix
 */
.nl-grid:before,
.nl-grid:after {
  content: " ";
  display: table;
}
.nl-grid:after {
  clear: both;
}
/*
 * 1. Needed for the gutter
 * 2. Makes grid more robust so that it can be used with other block elements like lists
 */
.nl-grid {
  /* 1 */
  margin: 0 0 0 -25px;
  /* 2 */
  padding: 0;
  list-style: none;
}
/*
 * Grid cell
 * 1. Makes grid more robust so that it can be used with other block elements
 * 2. Create horizontal gutter
 * 3. `float` is set by default so columns always behave the same and create a new block format context
 */
.nl-grid > * {
  /* 1 */
  margin: 0;
  /* 2 */
  padding-left: 25px;
  /* 3 */
  float: left;
}
/*
 * Remove margin from the last-child
 */
.nl-grid > * > :last-child {
  margin-bottom: 0;
}
.nl-width-half {
	width: 50%;
}