<!--
	This file contains all of the newsletter descriptions. If a new newsletter is added in wordpress,
	you will have to add a description here. Simply add another <p> element, and set the id as the newsletter's name,
	except lower case and replace spaces with dashes and add -desc. The class has to be newsletter-description.

	TODO: we could also add images here, though right now they are coming in as background images in style.css
-->

<p id='your-nutrition-desc' class='newsletter-description'>
	Learn how to eat, what to eat, and when to eat it for a more balanced, healthy, and energetic you! Experts provide advice on children’s nutrition, losing and maintaining weight, and gaining confidence in food choices.
</p>

<p id='your-cooking-desc' class='newsletter-description'>
	We’re sharing nutritionist-approved easy, seasonal, and healthful recipes every week. Discover the health and wellness benefits of each recipe as well as tips for the beginner cook and ingredient variations for those looking for multiple recipes in one!
</p>

<p id='your-productivity-desc' class='newsletter-description'>
	Guidance on personal organization, time management, and lifestyle efficiency to allow you more time for family, fun, and relaxation.
</p>

<p id='your-home-desc' class='newsletter-description'>
	Tips to simplify your life by conquering clutter and implementing organization (or reorganization) in your home and office.
</p>

<p id='your-spirit-desc' class='newsletter-description'>
	Inspiration, insight, and life-changing practical advice to help you be your personal and professional best self.
</p>

<p id='your-meditation-and-relaxation-desc' class='newsletter-description'>
	Learn meditative and contemplative practices to sleep better, perform optimally, enhance your energy, and connect with your true potential.
</p>

<p id='your-beauty-desc' class='newsletter-description'>
	Enhance your inner and outer beauty and overall self-confidence with practical skincare, makeup, and fashion information and tutorials.
</p>

<p id='your-romantic-relationships-desc' class='newsletter-description'>
	Advice for the married, the divorced, the committed, and those still looking for “the one.”
</p>

<p id='your-family-and-friends-desc' class='newsletter-description'>
	Discover how to build and sustain strong friendships and family bonds. Learn tips on how to raise self-confident and loving children who appreciate themselves and their family.
</p>

<p id='your-profession-desc' class='newsletter-description'>
	Tap into your inner leadership skills and learn how to excel in your chosen profession with practical, doable advice that will take you to the next level.
</p>

<p id='your-fitness-desc' class='newsletter-description'>
	Insight and advice on how to get fit, address bad habits, and address pain, injuries, and maladies by integrating a multiplicity of physical disciplines. Learn how strength and cardiovascular training, Pilates, yoga, self-massage, restorative practices, and more can change your body!
</p>



