.no-print {
	display: none;
}

#social-share, .bawmrp, .moot, #upprev_box, .kb-wiki-bubble {
	display: none!important;
}

.collapseomatic_content, .extra-drop-downs {
	display: block!important;
}

.site-main #primary {
	float: none!important;
	margin-left: auto;
	margin-right: auto;
}
