/*
Theme Name:     Yoffie Life
Theme URI:      http://yoffielife.com
Description:    Child theme for Twenty Thirteen
Author:         Ansley Fones
Author URI:     http://www.ansleyfones.com
Template:       twentythirteen
Version:        0.1.0
*/

@import url("../twentythirteen/style.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("fonts/Brandon-Grotesque/MyFontsWebfontsKit.css");

body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.45em;
	color: #141412;
	background: #fff;
}

hr {
	border: 0;
	border-bottom: 2px solid #141412;
}

#page {
	background: #fff;
}

a:link, a, a:visited {
	color: #141412;
	text-decoration: none;
}

a:hover {
	color: #ee3a31;
	text-decoration: none;
}

.entry-content p a, .entry-content ol a, .entry-content ul a {
	color: #ee3a31;
}

.entry-content p a:hover, .entry-content ol a:hover, .entry-content ul a:hover {
	color: #00a3c4;
}

.entry-content img.alignleft, .entry-content .wp-caption.alignleft {
	margin-left: 0;
}

.entry-content img.alignright, .entry-content .wp-caption.alignright {
	margin-right: 0;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
}

h2 {
	font-size: 25px;
	margin: 30px 0 5px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
}

table {
	border: 0;
	margin: 0;
}

td {
	border: 0;
}

p, ul, ol {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1.5em;
}

.shadow-box {
	padding: 15px 20px 10px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.entry-content img.shadow {
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.entry-content ol,
.author-description ol,
.overlays.experts ol {
	list-style: none;
	padding: 10px 20px 20px;
	margin: 0;
	border: 0;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.overlays.experts ol {
	list-style: none;
	padding: 10px 0 20px;
	margin: 0;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #444;
}

.entry-content ol:before,
.author-description ol:before,
.overlays.experts ol:before {
	content: "Challenge Yourself";
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 40px;
}

.entry-content ol li,
.author-description ol li,
.overlays.experts ol li {
	margin: 0;
	padding-left: 30px;
	margin-bottom: 20px;
	min-height: 30px;
	position: relative;
}

.entry-content ol li:last-child,
.author-description ol li:last-child,
.overlays.experts ol li:last-child {
	margin-bottom: 0;
	background-size: 24px;
}

.entry-content ol li:first-child:before,
.author-description ol li:first-child:before,
.overlays.experts ol li:first-child:before {
	content: "1.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

.entry-content ol li:nth-child(2):before,
.author-description ol li:nth-child(2):before,
.overlays.experts ol li:nth-child(2):before {
	content: "2.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

.entry-content ol li:nth-child(3):before,
.author-description ol li:nth-child(3):before,
.overlays.experts ol li:nth-child(3):before {
	content: "3.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

.entry-content ol li:nth-child(4):before,
.author-description ol li:nth-child(4):before,
.overlays.experts ol li:nth-child(4):before {
	content: "4.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

.entry-content ol li:nth-child(5):before,
.author-description ol li:nth-child(5):before,
.overlays.experts ol li:nth-child(5):before {
	content: "5.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

.entry-content ol li:nth-child(6):before,
.author-description ol li:nth-child(6):before,
.overlays.experts ol li:nth-child(6):before {
	content: "6.";
	font-size: 22px;
	position: absolute;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	color: #ee3a31;
	left: 7px;
	top: 3px;
}

input, textarea, input:-webkit-autofill, textarea:-webkit-autofill {
	-webkit-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	background: #fff;
	background-color: #fff;
	bordeR: 0;
}

input:focus, textarea:focus {
	border: 2px solid #ee3a31;
}

button {
	background: #ee3a31;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	padding: 11px 17px 7px;
	border: 0;
	color: #fff;
	font-size: 16px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

button:hover {
	background: #bbb;
}


.brandon {
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
}

.brandon-bold {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
}

/*--------------- HEADER -------------------*/

.site-header #inner-header {
	min-height: 0;
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #fff;
}

.site-header .home-link {
	min-height: 0;
}

.site-header .home-link img {
	padding: 15px 0;
	width: 300px;
	height: auto;
}

.site-header .store-search {
	float: right;
	position: relative;
	margin: 14px 0 0;
	text-align: right;
	padding-right: 13px;
}

.site-header #store-search-menu {
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: right;
}

.site-header .search-form {
	position: relative;
	margin-top: 0;
	right: 0;
}

.site-header .search-field {
	vertical-align: middle;
	border: 0;
	width: 230px;
	background-size: 17px 17px;
	background-position: 9px center;
	padding: 0 7px 0 34px;
	font-size: 13px;
	height: 30px;
	-webkit-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.site-header .search-field:focus {
	border: 2px solid #dcdcdc;
	width: 230px;
}

.shop-bag {
	width: 13px;
	vertical-align: top;
	margin-left: 0px;
}

.top-social {
	display: inline-block;
	width: 22px;
	margin: 0 1px;
}

.top-social img {
	vertical-align: top;
}

#top-social-wrap a.join-button {
	background: none repeat scroll 0 0 #EE3A31;
    	color: #FFFFFF;
    	display: inline-block;
    	font-family: 'BrandonGrotesque-Bold','Century Gothic',sans-serif;
    	font-size: 15px;
    	margin-left: 15px;
    	padding: 3px 16px 0px;
	float: right;
    	text-transform: uppercase;
}

#top-social-wrap a.join-button:hover {
	background: #00a3c4;
}

a.mobile-join-button {
	background: none repeat scroll 0 0 #EE3A31;
    	color: #FFFFFF;
    	font-family: 'BrandonGrotesque-Bold','Century Gothic',sans-serif;
    	font-size: 15px;
    	width: 100%;
    	padding: 6px 16px 2px;
    	text-transform: uppercase;
	text-align: center;
	display: none;
}

a.mobile-join-button:hover {
	background: #00a3c4;
}

/*--------------- TOP NAVIGATION -------------------*/

.sidr-links {
	display: none;
}

.navbar {
	background: #141412;
	text-align: center;
}

ul.nav-menu, div.nav-menu > ul {
	padding: 0;
}

.menu, .menu ul, .menu li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation.main-navigation {
	max-width: 100%;
}

.main-navigation {
	min-height: 0;
	max-width: 1200px;
	width: 1200px;
}

.nav-menu li a {
	color: #fff;
	text-transform: uppercase;
	padding: 9px 23.4px 5px;
	font-size: 18px;
	font-weight: 300;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
}

.nav-menu li a:hover {
	background: #ee3a31;
	color: #fff;
}

.nav-menu li.soul a:hover {
	background: #ffc53b;
}

.nav-menu li.satisfy a:hover {
	background: #89bc54;
}

.nav-menu li.spark a:hover {
	background: #9c3386;
}

.nav-menu li.simplify a:hover {
	background: #00a3c4;
}

.nav-menu li.sweat a:hover {
	background: #ff762e;
}

.nav-menu li.scoop a:hover {
	background: #1848a0;
}

.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {
	color: #fff;
	font-style: normal;
}

.nav-menu .sub-menu, .nav-menu .children {
	bordeR: 0;
	background: #141412;
	margin-top: -2px;
}

.nav-menu li ul li a {
	font-size: 13px;
}

.nav-menu li ul li a:hover {
	color: #fff;
	background: #ee3a31;
}


#submenu {
	background: #fff;
	color: #141412;
	font-family: 'BrandonGrotesque-bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	width: 100%;
	border-bottom: 3px solid #141412;
}

#submenu ul.submenu-menu {
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 1020px;
	width: 98%;
	text-align: center;
}

#submenu ul.submenu-menu, #submenu ul.submenu-menu li {
	list-style: none;
}

#submenu ul.submenu-menu li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 17px;
	padding: 12px 34px 5px;
	/*padding: 10px 12px 5px;*/
	line-height: 1.2em;
	text-align: center;
	margin: 0 auto;
	/*margin: 10px 21px 0;*/
	position: relative;
}

#submenu ul.submenu-menu li span {
	/*font-size: 13px;*/
}

#submenu ul.submenu-menu li a {
	display: block;
}

#submenu ul.submenu-menu li:last-child {
	border-right: 0;
}

#submenu ul.submenu-menu li img {
	margin-right: 16px;
	float: left;
	padding: 0;
}

#submenu ul.submenu-menu li a {
	color: #141412;
}

#submenu ul.submenu-menu li:hover a {
	color: #ee3a31;
}

.nav-menu .sub-menu, .nav-menu .children {
	text-align: left;
}

#crumbs {
	float: left;
	position: relative;
	width: 100%;
	display: block;
	background: #ee3a31;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	padding: 4px 10px 0px;
	line-height: 1.2em;
	border: 0;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;
}

#crumbs.soul {
	background: #ffc53b;
}

#crumbs.satisfy {
	background: #89bc54;
}

#crumbs.spark {
	background: #9c3386;
}

#crumbs.simplify {
	background: #00a3c4;
}

#crumbs.sweat {
	background: #ff762e;
}

#crumbs.scoop {
	background: #1848a0;
}

#crumbs a {
	color: #fff;
	margin-right: 15px;
}

#crumbs * {
	/*display: none;*/
}

#crumbs a:first-child, #crumbs a:first-child .back-arrow {
	display: inline-block;
}

.parent-category-button {
	color: #fff;
	float: left;
}

.parent-category-button a {
	color: #fff;
}

.parent-category-button:hover a {
	color: #141412;
}

.back-arrow {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5.5px 6px 5.5px 0;
	border-color: transparent #fff transparent transparent;
	display: inline-block;
	margin-right: 6px;
}

.parent-category-button:hover .back-arrow {
	border-color: transparent #141412 transparent transparent;
}

/*--------------- LOWER HEADERS -------------------*/

.category-header {
	width: 100%;
	text-align: center;
	background: #000;
}

.category-header img {
	margin: 1px auto;
	max-width: 1020px;
	width: 100%;
}

/*--------------- SIDEBAR -------------------*/

.site-main .sidebar-container {
	width: 286px;
	float: right;
	position: relative;
	top: 30px;
	height: auto;
}

.site-main .sidebar-inner {
	max-width: 1020px;
}

.site-main .widget-area {
	width: 100%;
}

.widget a:hover {
	color: #ee3a31;
	text-decoration: none;
}

.widget .widget-title {
	font-style: normal;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
}

#main .widget .widget-title {
	color: #525254;
}

.widget {
	background: 0;
	padding: 0;
	word-wrap: normal!important;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

.entry-content {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

.widget > div {
	word-wrap: normal!important;
}

#execphp-6 {
	border: 0;
	padding: 10px 0 0;
	overflow: auto;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

#execphp-6 .widget-title {
	padding: 0 10px;
}

#execphp-6 ul li {
	padding: 0 10px;
	clear: both;
	width: 100%;
	float: left;
}

#execphp-6 ul li:last-of-type {
	border-bottom: 0;
}

#execphp-6 ul li .sidebar-challenges-titles {
	width: 69%;
	display: inline-block;
	margin: 0 10px 15px 0;
}

#sidebar-challenges .category-label {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-align: center;
	padding: 3px 0 0;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.2em;
}

#execphp-6 h5 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	height: 30px;
	display: block;
	margin: 8px 0 0;
}

#execphp-6 .read-more {
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 7px;
	display: block;
}

#execphp-6 img {
	float: left;
	width: 60px;
	margin-right: 10px;
	margin-top: 4px;
}

#execphp-2, #yoffie_bio_widget-2, #text-52 {
	padding: 0;
	text-align: center;
}

#execphp-2 .widget-title, #yoffie_bio_widget-2 .widget-title {
	padding: 8px 0 4px;
	margin: 0;
	width: 100%;
	border-bottom: 2px dotted #dcdcdc;
}

#execphp-2 .text, #yoffie_bio_widget-2 .text {
	padding: 8px 12px;
	text-align: left;
}

#text-52 {
	background: #1848a0;
	color: #fff;
	font-size: 16px;
	padding: 5px 20px;
}

#text-52 h3.widget-title {
	color: #fff!important;
	padding: 8px 12px 4px;
	margin: 0;
	width: 100%;
	border-bottom: 2px dotted #fff;
}

#text-52 a {
	color: #fff;
}

#text-52 .text {
	padding: 8px 12px;
}

#text-52:hover {
	background: #00a3c4;
}

.victoria-sidebar, #text-52 {
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.victoria-sidebar strong {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 15px;
line-height: 18px;
	text-transform: uppercase;
}

#yoffie-updates-info {
	border: 0;
}

#yoffie-updates-info .text p, #text-52 .text p {
	text-align: left;
	margin: .5em 0;
}

#execphp-2 #yoffie-updates-info-2, #yoffie_bio_widget-2 #yoffie-updates-info-2 {
	display: none;
}

#execphp-2 #yoffie-updates-info-2 .text, #yoffie_bio_widget-2 #yoffie-updates-info-2 .text {
	text-align: left;
}

#execphp-2 img:hover, #yoffie_bio_widget-2 img:hover {
	opacity: .75;
}

.sidebar-advertise {
	background: #FFC53B;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 17px;
	padding: 25px;
}

.sidebar-advertise:hover {
	background: #9C3386;
}

.sidebar-advertise a {
	color: #fff;
}

.sidebar-advertise span {
	display: block;
	font-size: 24px;
	border-bottom: 2px dotted #fff;
	padding-bottom: 10px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	width: 100%;
	line-height: 1.1em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.sidebar-advertise.challenge-board {
	background: #00a3c4;
}

.sidebar-advertise.challenge-board:hover {
	background: #FFC53B;
}

/*--------------- VIEW CATEGORIES BOX and ICONS -------------------*/

#arrow_box {
	position: relative;
	background: #dcdcdc;
	height: inherit;
	padding: 16px 10px;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	height: 53px;
	margin-left: 26px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
}

#arrow_box:hover {
	cursor: pointer;
}

#arrow_box:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #dcdcdc;
	border-width: 26px;
	top: 50%;
	margin-top: -26px;
}

#category_box {
	background: #dcdcdc;
	position: absolute;
	z-index: 1000;
	left: -472px;
	width: 500px;
	display: none;
	top: 0;
	padding: 25px;
	text-transform: capitalize;
	transition: all 0.5s ease;
}

#total-category:hover #category_box {
	display: block;
}

.category-icons, .category-icons li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.category-icons li {
	width: 100px;
	float: left;
	margin-right: 12px;
	line-height: 1.2em;
	font-size: 11px;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	margin-bottom: 15px;
}

.category-icons li img {
	margin-bottom: 4px;
}

/*--------------- SOCIAL ICONS -------------------*/

.social-icons {
	margin-top: 15px;
}

.social-icons a {
	float: left;
}

.social-icon {
	clear: both;
	float: left;
	vertical-align: middle;
	margin-right: 15px;
	margin-bottom: 15px;
	display: block;
	width: 30px;
	height: 30px;
}

#facebook {
     background: url('images/facebook.png') no-repeat center center;
     background-size: 100%;
}

#facebook:hover {
     background: url('images/facebook-hover.png') no-repeat center center;
     background-size: 100%;
}


#pinterest {
     background: url('images/pinterest.png') no-repeat center center;
     background-size: 100%;
}

#pinterest:hover {
     background: url('images/pinterest-hover.png') no-repeat center center;
     background-size: 100%;
}


#twitter {
     background: url('images/twitter.png') no-repeat center center;
     background-size: 100%;
}

#twitter:hover {
     background: url('images/twitter-hover.png') no-repeat center center;
     background-size: 100%;
}


#email {
     background: url('images/email.png') no-repeat center center;
     background-size: 100%;
}

#email:hover {
     background: url('images/email-hover.png') no-repeat center center;
     background-size: 100%;
}

#google-plus {
     background: url('images/google-plus.png') no-repeat center center;
     background-size: 100%;
}

#google-plus:hover {
     background: url('images/google-plus-hover.png') no-repeat center center;
     background-size: 100%;
}

#instagram {
     background: url('images/instagram.png') no-repeat center center;
     background-size: 100%;
}

#instagram:hover {
     background: url('images/instagram-hover.png') no-repeat center center;
     background-size: 100%;
}

#linkedin {
     background: url('images/linkedin.png') no-repeat center center;
     background-size: 100%;
}

#linkedin:hover {
     background: url('images/linkedin-hover.png') no-repeat center center;
     background-size: 100%;
}
#youtube {
     background: url('images/youtube.png') no-repeat center center;
     background-size: 100%;
}

#youtube:hover {
     background: url('images/youtube-hover.png') no-repeat center center;
     background-size: 100%;
}

#linkedin {
     background: url('images/linkedin.png') no-repeat center center;
     background-size: 100%;
}

#linkedin:hover {
     background: url('images/linkedin-hover.png') no-repeat center center;
     background-size: 100%;
}

#website {
     background: url('images/www.png') no-repeat center center;
     background-size: 100%;
}

#website2 {
     background: url('images/www2.png') no-repeat center center;
     background-size: 100%;
}

#website:hover, #website2:hover {
     background: url('images/www-hover.png') no-repeat center center;
     background-size: 100%;
}

.second-social #social-share {
	border-bottom: 2px solid #dcdcdc;
	margin-bottom: 7px;
}


/*--------------- FOOTER -------------------*/

.site-footer {
	background: #141412;
	color: #fff;
	margin-top: 0px!important;
}

.site-footer .sidebar-container {
	background: none;
	color: #fff;
}

.site-footer .sidebar-container a {
	color: #fff;
}

.site-footer .sidebar-container a:hover {
	text-decoration: underline;
}

.sidebar .site-footer .widget-area {
	margin: o auto;
	max-width: 1020px;
	width: 100%;
	left: 0;
	height: auto!important;
}

.site-footer .widget {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.45em;
	padding-bottom: 0;
	width: 22.5%!important;
	position: static!important;
	margin: 0 2% 0;
	margin-bottom: 0!important;
}

.site-footer .widget:first-child {
	margin-left: 0;
}

.site-footer .widget:last-child {
	margin-right: 0;
}

#menu-footer-menu {
	line-height: 2em;
}

.site-footer .widget ol {
	border: 0;
}

.site-footer .widget ol li {
	padding-left: 18px;
	background-size: 20px;
	background-position: -4px 10px;
	margin-bottom: 5px;
	font-size: 15px;
}

.site-footer .widget .footer-icon-link {
	margin-bottom: 15px;
	height: 40px;
}

.site-footer .widget .footer-icon {
	float: left;
	width: 40px;
	margin: 0 15px 5px 0;
	clear: both;
}

.site-footer .widget .footer-icon-link a {
	display: block;
}

.site-footer .widget .footer-icon-link a span {
	padding-top: 10px;
	display: block;
}

.site-footer .widget .footer-icon:hover {
	-webkit-filter: grayscale(100%);
}

/*--------------- BOTTOM FOOTER -------------------*/

.site-info {
	background: #dcdcdc;
	color: #555555;
	width: 100%;
	padding: 1% 5%;
	text-align: center;
	max-width: none;
	font-size: 12px;
}

.site-info a {
	color: #555;
}

.site-info a:hover {
	text-decoration: underline;
}

.site-info li {
	display: inline;
}

.site-info li a {
	display: inline-block;
	padding: 0 10px 10px;
}

/*--------------- SOCIAL BUTTONS -------------------*/

#fsb-social-bar {
	border-top: 0!important;
	border-bottom: 2px solid #141412!important;
	padding: 7px 0 10px!important;
	margin-top: -10px!important;
}


/*--------------- CONTENT -------------------*/

.site-main {
	max-width: 1020px;
	width: 98%;
	margin: 0 auto;
	padding: 0 0 60px;
	background: #fff;
}


.site-main:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.site-main #primary {
	float: left;
	position: relative;
	width: 67%;
	top: 30px;
}

@-moz-document url-prefix() {
	.home .site-main #primary {
		top: 0;
	}
}

.page-title {
	max-width: 1020px;
}

.home #content {
	min-height: 0;
}

.entry-header, .entry-content, .entry-summary, .entry-meta {
	max-width: 1020px;
}

.authorextra img {
	width: 12px;
	margin-left: 2px;
	margin-right: 2px;
}

.entry-content {
	max-width: 1020px;
	padding-bottom: 20px;
}

.hentry {
	padding: 0;
}

.entry-thumbnail {
	margin: 0 0 10px;
	width: 100%;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
}

.entry-thumbnail img {
	width: 100%;
	height: auto;
	margin-bottom: 0;
}

.sidebar .entry-header, .sidebar .entry-content, .sidebar .entry-summary, .sidebar .entry-meta, .sidebar .post-navigation .nav-links {
	width: 100%;
	padding: 0;
	clear: both;
}

.sidebar .entry-content, .sidebar .entry-summary {
	padding-bottom: 20px;
	padding-top: 10px;
}

.entry-header {
	padding-bottom: 0!important;
	border-bottom: 2px solid #141412;
	margin-bottom: 20px;
}

.single .entry-header, .category-letters-to-the-reader .entry-header {
	margin-bottom: 0;
}

.sidebar .page-content {
	padding: 40px 0 40px 0;
}

.page-header {
	background: 0;
}

h1.entry-title {
	text-transform: uppercase;
	font-size: 32px;
	margin: 20px 0 -6px;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	display: block;
	line-height: 35px;
}

.post h1.entry-title, .sweat_dictionary h1.entry-title, .single-simmer-dictionary h1.entry-title, .category-letters-to-the-reader h1.entry-title {
	margin-top: 20px;
	margin-bottom: 0;

}

.favorites-link {
	font-family: 'BrandonGrotesque-Medium', 'Century Gothic', sans-serif;
}

.single .favorites-link {
	text-transform: uppercase;
	float: right;
	margin-top: 15px;
}

.single .favorites-link span {
	display: inline-block;
}

.single .favorites-link a {
	font-size: 16px;
}

.single .favorites-link a:hover {
	color: #00A3C4;
}

.single .favorites-link .fa {
	font-size: 1.4em;
	vertical-align: middle;
	margin-right: 4px;
}
.disclaimer {
	font-size: .85em;
	line-height: 1.3em;
	margin-bottom: 8px;
}

.navigation a:hover {
	color: #f7bf31;
}

.paging-navigation a:hover .meta-nav, .post-navigation a:hover .meta-nav  {
	background: #f7bf31;
}

.paging-navigation {
	background: 0;
}

.paging-navigation .nav-previous, .paging-navigation .nav-next {
	padding: 0;
}

.paging-navigation .nav-previous .meta-nav, .paging-navigation .nav-next .meta-nav  {
	width: 40px;
	height: 40px;
	background: #ed462f;
	padding: 13px 0 23px;
	font-style: normal;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
}

.post-navigation .nav-previous .meta-nav, .post-navigation .nav-next .meta-nav {
	width: 40px;
	height: 40px;
	background: #ed462f;
	padding: 13px 0 23px;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 26px;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	text-align: center;
	font-style: normal;
}

.post-navigation .nav-previous .meta-nav, .paging-navigation .nav-previous .meta-nav {
	margin-right: 10px;
}

.post-navigation .nav-next .meta-nav, .paging-navigation .nav-next .meta-nav {
	margin-left: 10px;
}

.sidebar .entry-header .entry-meta {
	padding-bottom: 15px;
}

.entry-meta .tags-links {
	display: none;
	clear: both;
}

.entry-meta span {
	display: block;
}

.sidebar .paging-navigation .nav-links {
	padding: 0;
}

.nav-links {
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	height: 30px;
	margin: 30px 0;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-RegularItalic', 'Century Gothic', sans-serif;
	clear: both;
}

.older {
 	float: left;
}

.newer {
	float: right;
}

.newer-older a:hover {
	text-decoration: none;
	color: #ee3a31;
}

.bawmrp h3 {
	text-transform: uppercase;
	font-size: 20px;
}

.bawmrp ul {
	padding: 0;
}

.bawmrp ul li {
	border: 0!important;
	width: 25%!important;
	height: auto!important;
}

.bawmrp ul li a {
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	display: block;
}

.bawmrp ul li img {
	width: 100%;
	margin-bottom: 5px;
}

.nrelate {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 2px solid #dcdcdc;
}

.nrelate_default .nr_panel, .nrelate_default .nr_panel:hover {
	margin: 1px 6px;
	padding: 1px 2px;
	bordeR: 0!important;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
}

.nrelate_default .nr_panel:first-of-type, .nrelate_default .nr_panel:first-of-type:hover {
	margin-left: 0;
}

.nrelate_default .nr_img_div img {
	border: 0!important;
}

.nr_title {
	text-transform: uppercase;
}

/*--------------------- COMMENTS ------------------------*/

.sidebar .comments-title, .sidebar .comment-list, .sidebar .must-log-in, .sidebar .comment-reply-title, .sidebar .comment-navigation, .sidebar .comment-respond .comment-form {
	width: 100%;
	padding: 0;
}

.comment-respond {
	background: 0;
}

.is-threaded {
	margin-top: 30px;
	
}

.is-threaded:before, .is-commenting:before {
	content: "Share your thoughts!";
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 40px;
	display: block;
	margin-bottom: -20px;
	font-size: 20px;
}

/*------------ CHALLENGE BOARD BUTTON AND PAGE ---------------*/

.entry-meta .wpfp-span {
	float: right;
}

.wpfp-warn, .challenge-board {
	display: none;
}

.entry-content .wpfp-warn, .entry-content .challenge-board {
	display: inline;
}

.wpfp-img {
	border: 0;
	vertical-align: top;
	width: 20px;
	margin: 0;
	margin-right: 1px;
	margin-top: 3px;
}


.page-id-1011 hr {
	margin: 80px 0;
}

:focus {
		outline: 0;
	}

#scoreboard {
	background: #00a3c4;
	text-align: center;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	color: #fff;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px;
	margin-bottom: 30px;
}

#scoreboard ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#scoreboard li {
	list-style: none;
	display: inline-block;
	margin: 0 2%;
	vertical-align: middle;
}

#scoreboard li.box {
	background: #fff;
	color: #00a3c4;
	height: 75px;
	width: 75px;
	padding: 32px 0;
	font-size: 54px;
}

#scoreboard li a {
	color: #fff;
}

#scoreboard li.box a {
	color: #ee3a31;
}

.wpfp-span.completed {
	margin-top: 50px;
}

/*---------------------- RECIPES -------------------------*/

.blog-yumprint-recipe .blog-yumprint-photo-top {
	width: 150px!important;
	height: 150px!important;
}

.kb-recipe-container .kb-recipe-wrap p, .kb-recipe-container .kb-recipe-wrap li, .kb-recipe-container .kb-recipe-wrap span, .kb-recipe-container .kb-recipe-wrap h2, .kb-recipe-container .kb-recipe-wrap h3, .kb-recipe-container .kb-recipe-wrap label, .kb-recipe-container .kb-recipe-wrap select {
	font-family: Lato, Helvetica, Ariel, sans-serif;
}

.kb-recipe-container .kb-recipe-wrap {
	border: 0;
	font-family: Lato, Helvetica, Ariel, sans-serif;
	font-size: 16px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	background: #fff;
}

.kb-recipe-container ol li:before, .kb-recipe-container ul li:before {
	content: "";
}

.kb-recipe-container .kb-recipe-wrap ol {
	bordeR: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.kb-recipe-container .kb-recipe-wrap ol:before {
	content: "";
}

.kb-recipe-container .kb-recipe-wrap ol li:before {
	content: "";
	padding-left: 0;
}

.kb-recipe-container .kb-recipe-wrap ul li, .kb-recipe-container .kb-recipe-wrap ol li, .kb-recipe-container .kb-recipe-wrap .kb-recipe-header p.kb-description {
	font-size: 16px;
	line-height: 1.45em;

	font-weight: 400;
}

.kb-recipe-container .kb-recipe-wrap .kb-recipe-header img {
	min-width: 150px!important;
	width: 150px!important;
}

.kb-recipe-container .kb-recipe-wrap .kb-recipe-header h2.kb-name {
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 30px;
}

.kb-footer {
	display: none;
}

.kb-recipe-container .kb-recipe-wrap .kb-ingredients-container ul li span.kb-section-header {
	text-transform: uppercase;
}

.kb-recipe-container .kb-recipe-wrap .kb-directions-container ol li.kb-section-header {
	text-transform: uppercase;
	font-size: 1em;
	margin-left: -40px;
	padding-left: 0;
}

.collapseomatic {
	color: #fff;
	width: 100%;
	display: block;
	text-transform: uppercase;
	padding: 5px 2% 7px;
	background-image: none;
	font-size: 1em;
	letter-spacing: 1px;	
	margin-bottom: 3px;
	font-weight: bold;
}

.collapseomatic img {
	width: 15px;
	height: auto;
	margin-right: 10px;
}

.collapseomatic:hover {
	text-decoration: none;
}

.collapseomatic_excerpt, .collapseomatic_content {
	padding: 15px 10px 30px;
	margin: 0;
}

.collapseomatic_excerpt ol, .collapseomatic_content ol {
	margin-left: 0;
	padding-left: 0;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding-top: 5px;
}

.collapseomatic_excerpt ol:before, .collapseomatic_content ol:before {
	content: "";
}

.extra-drop-downs {
	clear: both;
}

.extra-drop-downs span:nth-of-type(1).collapseomatic, .extra-drop-downs span:nth-of-type(15).collapseomatic {
	background: #ee3a31;
}

.extra-drop-downs span:nth-of-type(3).collapseomatic, .extra-drop-downs span:nth-of-type(17).collapseomatic {
	background: #f7bf31;
}

.extra-drop-downs span:nth-of-type(5).collapseomatic, .extra-drop-downs span:nth-of-type(19).collapseomatic {
	background: #9c3386;
}

.extra-drop-downs span:nth-of-type(7).collapseomatic, .extra-drop-downs span:nth-of-type(21).collapseomatic {
	background: #00a4c3;
}

.extra-drop-downs span:nth-of-type(9).collapseomatic {
	background: #ff762e;
}

.extra-drop-downs span:nth-of-type(11).collapseomatic {
	background: #89bc54;
}

.extra-drop-downs span:nth-of-type(13).collapseomatic {
	background: #f7bf31;
}

/*--------------- EXERCISES ARCHIVES -------------------*/

.post-type-archive-exercises .archive-header {
	margin-bottom: 0;
}

#show-filters {
	margin: 0 auto;
	background: #141212;
	display: block;
	padding: 5px 10px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	width: 165px;
	color: #fff;
	height: 30px;
	margin-bottom: 20px;
}

#show-filters a {
	color: #fff;
}

#filtered-search {
	background: #dcdcdc;
	font-size: 12.5px;
	padding: 1px 30px 20px;
}

#filtered-search h3 {
	margin: 20px 0 10px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

#filtered-search ul {
	padding: 0;
	overflow: auto;
	-webkit-column-count: 4;
   	-moz-column-count: 4;
        column-count: 4;
}

#filtered-search ul li {
	list-style: none;
	display: block;
	line-height: 1.65em;
}

#filtered-search input[type="checkbox"] {
	margin-right: 4px;
}

#filtered-search button {
	float: right;
	margin-top: -38px;
}

#filtered-search button:active, #filtered-search button:hover {
	bordeR: 0;
	background: #222;
	padding: 11px 17px 7px;
}

/*--------------- EXERCISES -------------------*/


.single-exercises h1.entry-title {
	line-height: 35px;
}

.exercise-wrapper {
		-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	overflow: auto;
	padding: 10px 0;
	margin-bottom: 20px;
}

.exercise-photos {
	overflow: auto;
}

.exercise-photos:after {
	clear: both;
}

.exercise-grid {
	
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	text-align: center;
	max-width: 100%;
}

.exercise-grid .exercise-caption {
	display: block;
	padding: 6px 4%;
	width: 100%;
	background: #dcdcdc;
	display: none;
}

.two-photos .exercise-grid,
.four-photos .exercise-grid {
	width: 49%;
}

.three-photos .exercise-grid {
	width: 32%;
}

.two-photos .exercise-grid:first-child,
.four-photos .exercise-grid:first-child,
.four-photos .exercise-grid:nth-child(3) {
	margin-right: 2%;
}

.three-photos .exercise-grid:first-child,
.three-photos .exercise-grid:nth-child(2) {
	margin-right: 2%;
}

.two-photos .exercise-grid .exercise-caption,
.four-photos .exercise-grid .exercise-caption {
	height: 70px;
}

.three-photos .exercise-grid .exercise-caption {
	height: 70px;
}

.exercise-instructions ol {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.exercise-instructions ol:before {
	content: "";
}

.related-exercises {
	text-align: center;
}

.related-exercises .coming-from, .related-exercises .going-to {
	width: 48%;
	display: inline-block;
	text-align: center;
}

.related-exercises h4 {
	text-transform: uppercase;
	font-size: 14px;
}

.related-image {
	width: 200px;
	height: auto;
	margin: 0 auto;
}

/*--------------- WORKOUTS -------------------*/

.workout-exercise-title {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
}

a.learn-more-exercise {
	text-align: right;
	margin-bottom: 40px;
	color: #ee3a31;
	font-weight: bold;
	display: block;
}

/*--------------- HOME-FIRST -------------------*/

.home.sidebar .entry-header, .home.sidebar .entry-content, .home.sidebar .entry-summary, .home.sidebar .entry-meta {
	padding: 0;
}

.home #primary {
	width: 100%;
}

#home-column-one {
	width: 57%;
	float: left;
}

#home-column-two {
	width: 43%;
	float: right;
}

.top, .bottom {
	width: 100%;
	float: left;
}

.home-button {
	float: left;
	display: block;
	padding: 5px;
	width: 100%;
}

.home-button img {
	width: 100%;
}

.home-button img:hover {
	opacity: .75;
}

#soul-button {
	width: 43%;
}

#sweat-button {
	width: 57%;
}

#soul-button img, #sweat-button img {
	max-height: 402px;
	overflow: hidden;
}

#simmer-button img {
	overflow: hidden;
}

#spark-button {
	width: 43%;
}

#satisfy-button {
	width: 57%;
}

#spark-button img, #satisfy-button img {
	max-height: 319px;
	overflow: hidden;
}

.sign-up-sidebar {
	padding: 0;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
}

.sign-up-sidebar a.join-button {
	padding: 35px 13px 20px;
	background: #ee3a31;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	 margin-left: 0;
    	padding: 20px 0 12px;
    	text-align: center;
    	text-transform: uppercase;
    	width: 100%;
	display: block;
}

.sign-up-sidebar a.join-button:hover, #login-page-form .sign-up-home a.join-button:hover {
	background: #00a3c4;
}

.sign-up-sidebar .text {
	padding: 12px 20px;
}

.sign-up-sidebar span {
	border-top: 2px dotted #DCDCDC;
	line-height: 19px;
	display: block;
	padding: 18px 20px 12px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.sign-up-sidebar span a {
	color: #ee3a31;
}

.sign-up-sidebar span a:hover {
	color: #141412;
}

.sign-in-sidebar {
	padding: 12px 20px;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	margin-top: 28px;
}

.sign-in-sidebar #loginform {
	margin-top: 7px;
	overflow: auto;
}

.sign-in-sidebar #loginform p, #login-page-form #loginform p {
	overflow: auto;
	margin-bottom: 10px;
}

.sign-in-sidebar #loginform label, #login-page-form #loginform label {
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	float: left;
	padding-top: 7px;
}

#login-page-form #loginform label {
	margin-right: 15px;
}

.sign-in-sidebar #loginform input {
	float: right;
}

.sign-in-sidebar #loginform input#rememberme {
	margin-left: 15px;
}

.sign-in-sidebar #loginform p.login-remember {
	float: left;
}

.sign-in-sidebar #loginform .login-submit {
	float: right;
}

.sign-in-sidebar #loginform .login-submit input, #login-page-form #loginform .login-submit input {
	background: #00a3c4;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	padding: 12px 17px 6px;
	border: 0;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.sign-in-sidebar #loginform .login-submit input:hover, #login-page-form #loginform .login-submit input:hover {
	background: #bbb;
}

#login-page-signup {
	margin-top: 15px;
}
.welcome-package {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1010;
	/* 3 */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	/* 4 */
	background: url('images/popupbg.png') no-repeat center top rgba(0, 0, 0, 0.6);
	/* 5 */
	opacity: 1;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	/* 6 */
	-webkit-transform: translateZ(0);
}
.welcome-package .dialog {
	position: relative;
	top: 200px;
	/* 2 */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px auto;
	width: 400px;
	max-width: 100%;
	max-width: calc(100% - 20px);
	/* 3 */
	background: #ffffff;
	/* 4 */
	opacity: 1;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-out;
	transition: opacity 0.3s linear, transform 0.3s ease-out;
}
.welcome-package .close {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 25px;
	height: 25px;
	margin: 0;
	float: none;
	padding: 2px;
	border-radius: 50%;
	background: #fff;
	opacity: 1;
	text-align: center;
	line-height: 17px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 0 6px rgba(0,0,0,.3);
}
.welcome-package .close:hover {
	opacity: 0.85;
}
#comingsoon-overlay {
    display: block;  /* ensures it’s invisible until it’s called */
    position: fixed;  /* makes the div go into a position that’s absolute to the browser viewing area */
	top: 0;
	bottom: 0;
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}
#comingsoon {
	display: block;
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    	left: 0;
    	right: 0;
    	top: 0;
	bottom: 0;
	width: 75%;
	height: 75%;
	max-height: 400px;
	max-width: 450px;
	overflow-x: hidden;
	overflow-y: auto;
    padding: 25px;
    border: 2px solid black;
	margin: auto;
    background: url('images/transparent-slightly-darker-black.png') repeat;
	color: #fff;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	 transition: all 0.5s ease;
}
#comingsoon h1 {
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#comingsoon #login-page-form {
	display: block;
	width: 200px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#loginpopup h2 {
	margin-top: 5px;
}

#loginppoup .oneall_social_login iframe {
	height: 68px!important;
}

#loginpopup .newsletter-photo {
	display: none;
}

#fade {
    display: none;  /* ensures it’s invisible until it’s called */
    position: fixed;  /* makes the div go into a position that’s absolute to the browser viewing area */
	top: 0;
	bottom: 0;
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

#loginpopup {
	display: none;
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 75%;
	height: 75%;
	max-height: 400px;
    max-width: 400px;
	overflow-x: hidden;
	overflow-y: hidden;
    padding: 25px;
    border: 2px solid black;
	margin: auto;
    background: url('images/transparent-slightly-darker-black.png') repeat;
	color: #fff;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	 transition: all 0.5s ease;
}

#loginpopup a.close {
	float: right;
	display: block;
	color: #fff!important;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 22px;
}

/*--------------- HOME-NEW -------------------*/

.homepage-header {
	text-transform: uppercase;
	border-bottom: 2px solid #141412;
	margin-bottom: 25px;
}

.homepage-header h1 {
	font-size: 32px;
	margin: 20px 0 -6px;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	display: block;
	line-height: 35px;
}

.home .site-main .sidebar-container {
	top: 0;
}

#welcome-yoffie {
	margin-bottom: 45px;
}

#welcome-interior {
	float: left;
	width: 67%;
}

/*--------------- ARCHIVES -------------------*/

.archive .entry-thumbnail {
	float: none;
	margin-right: 2%;
	margin-bottom: 1%;
}

.archive h1.entry-title {
	clear: none;
	font-size: 2em;
}

.archive .entry-meta {
	clear: none;
}

.archive-header {
	background: 0;
	border-bottom: 2px solid #141412;
	margin-bottom: 35px;
}

.archive-title {
	max-width: 1020px;
	font-size: 32px;
	text-transform: uppercase;
	margin: 20px 0 -6px;
	padding: 0;
	font-style: normal;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	display: block;
	line-height: 35px;
}

/*--------------- SPECIAL CATEGORY PAGES -------------------*/

.category-page .entry-header {
	position: relative;
}

.category-page a:hover .entry-header img {
	opacity: .75;
}

.category-page .entry-container {
	position: absolute;
	right: 0;
	bottom: 50px;
	text-align: left;
	width: 60%;
}
.category-page .entry-container .entry-title {
	background: url('images/translucent-white.png') repeat;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 20px;
	
}

.category-page a .entry-title {
	color: #141412;
}

.category-page a:hover .entry-title {
	color: #141412;
	background: url('images/translucent-white-2.png') repeat;
}

.category-page a .entry-container div.view {
	color: #fff;
	position: relative;
	bottom: 0;
	font-size: .7em;
	text-transform: uppercase;
	padding-right: 20px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif; 
	line-height: 17px;
	padding-top: 4px;
	text-align: right;
}
.category-page .entry-thumbnail .title {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 4px 0 0 20px;
		font-size: 14px;
	letter-spacing: 0;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif; 
}

/* --- New Slider & Category Page Stlyes --- */
.category-page a .entry-thumbnail .title.satisfy {
	background: #89BC54;
}
.category-page a .entry-thumbnail .title.simmer {
	background: #ee3a31;
}
.category-page a .entry-thumbnail .title.simplify {
	background: #00A3C4;
}
.category-page a .entry-thumbnail .title.soul {
	background: #FFC53B;
}
.category-page a .entry-thumbnail .title.spark {
	background: #9C3386;
}
.category-page a .entry-thumbnail .title.sweat {
	background: #FF762E;
}
.category-page a .entry-thumbnail .title.scoop {
	background: #1848a0;
}
#tabbed-nav a .entry-container .view.satisfy,
.category-page a .entry-container div.satisfy {
	background: rgba(137, 188, 84, .80);
}
.category-page a:hover .entry-container div.satisfy {
	background: rgba(137, 188, 84, .95);
}
#tabbed-nav a .entry-container .view.simmer,
.category-page a .entry-container div.simmer {
	background: rgba(238, 58, 49, .80);
}
.category-page a:hover .entry-container div.simmer {
	background: rgba(238, 58, 49, .95);
}
#tabbed-nav a .entry-container .view.simplify,
.category-page a .entry-container div.simplify {
	background: rgba(0, 163, 196, .80);
}
.category-page a:hover .entry-container div.simplify {
	background: rgba(0, 163, 196, .95);
}
#tabbed-nav a .entry-container .view.soul,
.category-page a .entry-container div.soul {
	background: rgba(255, 197, 59, .80);
}
.category-page a:hover .entry-container div.soul {
	background: rgba(255, 197, 59, .95);
}
#tabbed-nav a .entry-container .view.spark,
.category-page a .entry-container div.spark {
	background: rgba(156, 51, 134, .80);
}
.category-page a:hover .entry-container div.spark {
	background: rgba(156, 51, 134, .95);
}
#tabbed-nav a .entry-container .view.sweat,
.category-page a .entry-container div.sweat {
	background: rgba(255, 118, 46, .80);
}
.category-page a:hover .entry-container div.sweat {
	background: rgba(255, 118, 46, .95);
}
#tabbed-nav a .entry-container .view.scoop {
	background: rgba(24, 72, 160, .80);
}
.category-page a .entry-container div.scoop {
	background: rgba(24, 72, 160, .95);
}
.sub-category-buttons {
	margin-bottom: 25px;
	overflow: hidden;
}

.sub-category-button {
	width: 31%;
	float: left;
	margin-bottom: 20px;
	font-size: .97em;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	position: relative;
}

.sub-category-button:nth-child(3n+2) {
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.sub-category-button span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,.8);
	text-align: center;	
	padding: 5px 10px 0;
	z-index: 50;
}

.sub-category-button img {
	width: 100%;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
}

.sub-category-button a:hover {
	color: #141412;
}

.sub-category-button:hover img {
	opacity: .75;
}

.sub-category-button:hover span {
	background: #fff;
}

.interior-header {
	text-transform: uppercase;
	border-bottom: 2px solid #141412;
	margin-bottom: 25px;
}

.interior-header h1 {
	font-size: 32px;
	margin: 20px 0 -6px;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	display: block;
	line-height: 35px;
}

.category-letters-to-the-reader .categories-links {
	display: none;
}

.category-letters-to-the-reader .favorites-link {
	display: none;
}

/*--------------- REGULAR CATEGORY and TAG PAGES -------------------*/

.category #main, .tag #main, .search #main {
	background: 0;
	padding-left: 0;
	padding-right: 0;
}

.page-template-fullwidth-php #primary, .page-template-community-php #primary {
	width: 100%;
}

.post-type-archive-simmer-dictionary #primary, .post-type-archive-sweat-dictionary #primary  {
	width: 67%;
}

ul.category-grid, .category-grid li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.category-grid li {
	display: inline-block;
	position: relative;
	width: 23.2%;
	margin-right: 2%;
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	-webkit-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	-moz-box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
	box-shadow: 2px 2px 6px 2px rgba(85,85,85,0.3);
}

.category-grid li:nth-child(4n+4) {
	margin-right: 0;
}

.category-grid li .category-thumbnail img {
	width: 100%;
	height: auto;
	margin: 0;
}

.category-grid li .category-thumbnail img:hover {
	-opacity: .75;
}

.category-grid-overlay {
	display: block;
	padding: 6px 4%;
	width: 100%;
	background: #f8f8f8;
	color: #000;
	height: 110px;
}

.category-grid-overlay:hover {
	background: #f1f1f1;
}

.category-grid-overlay a {
	font-size: .85em;
	text-transform: uppercase;
	color: #000;
}

.category-grid-overlay .favorites-link {
	position: absolute;
	bottom: 5px;
	right: 15px;
}

.cBoard {
	text-align: right;
	font-size: 12px;
}
.chal .cBoard,
.vic .cBoard {
	font-size: 10px;
}
.cLoader.add:before {
	content: "\f08d";
	color: #89BC54;
}
.cLoader.complete:before {
	content: "\f00c";
	color: #00A3C4;
}
.cLoader.remove:before {
	content: "\f00d";
	color: #EE3A31;
}

/*--------------- TRIPLE GRID -------------------*/

ul.triple-grid, .triple-grid li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.triple-grid li {
	display: inline-block;
	position: relative;
	width: 30.6%;
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.triple-grid li:nth-of-type(3n+2) {
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.triple-grid li .triple-thumbnail img {
	width: 100%;
	height: auto;
	margin: 0;
}

.triple-grid li:hover .triple-thumbnail img, .triple-grid li:hover img {
	opacity: .75;
}

.triple-grid-overlay {
	display: block;
	padding: 6px 4%;
	width: 100%;
	background: rgba(255,255,255,.88);
	color: #000;
	height: 88px;
	position: absolute;
	bottom: 0;
}

.triple-grid li:hover .triple-grid-overlay {
	background: #fff;
}

.triple-grid-overlay > a {
	font-size: .85em;
	text-transform: uppercase;
	color: #000!important;
	height: 86px;
	display: block;
}

.triple-grid-overlay .favorites-link a:hover {
	color: #ee3a31;
}

.triple-grid-overlay .favorites-link {
	position: absolute;
	bottom: 5px;
	right: 15px;
	font-size: .85em;
	text-transform: uppercase;
	color: #000;
}

.triple-grid-overlay .favorites-link .fa {
	margin-right: 3px;
}

.triple-grid-overlay .wpfp-link {
	font-size: 10px;
	color: #000;
}

.triple-grid-overlay .wpfp-img {
	vertical-align: middle;
	width: 20px;
	margin: 0;
	margin-right: 1px;
}

.triple-grid .category-label {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	text-align: center;
	padding: 7px 0 0;
	text-transform: uppercase;
	color: #fff;
	z-index: 200;
	position: relative;
}

.satisfy .category-label {
	background: #89bc54;
}

.simmer .category-label {
	background: #ee3a31;
}

.simplify .category-label {
	background: #00a3c4;
}

.soul .category-label {
	background: #ffc53b;
}

.spark .category-label {
	background: #9c3386;
}

.sweat .category-label {
	background: #ff762e;
}

.scoop .category-label {
	background: #1848a0;
}
.yoffie-blog .category-label {
	background: #349e7a;
}
.challenge-board-box .category-label {
	background: #73359e;
}


/*--------------- HOME SLIDER -------------------*/

#loader {
	width: 100%;
	height: 330px;
	bordeR: 0;
	background: url('/wp-content/themes/twentythirteen-child/images/loader.gif') no-repeat center center;
}

.z-tabs {
	margin-bottom: 40px;
	color: #010101;
	height: 330px;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.z-tabs.vertical > ul.z-tabs-nav {
	float: right;
}

.z-tabs.vertical.large > ul.z-tabs-nav {
	width: 34%;
	border: 0;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li {
	position: relative;
	cursor: pointer;
}
.mobile-tabbednav {
	list-style: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 460px;
	padding-left: 0;
	text-align: left;
	width: 90%;
}
.mobile-tabbednav li {
	padding: 15px 0;
	margin-top: 5px;
}
.z-tabs.z-multiline.large > ul.z-tabs-nav > li > a.z-link,
.mobile-tabbednav a {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	color: #fff;
	font-size: 17px;
	text-shadow: none;
	text-transform: uppercase;
	height: auto;
	border: 0;
	position: relative;
	height: 14.8px;
	line-height: 18px;
	border-bottom: 2px solid #fff;
	padding: 15px 15px 15px;
	cursor: pointer;
}
.mobile-tabbednav a {
	/*display: block;*/
	font-size: 14px;
	/*height: 54px;*/
	border-bottom: none;
}
.z-tabs.z-multiline.large > ul.z-tabs-nav > li.spark > a.z-link,
.mobile-tabbednav li.spark {
	/* background: #cd0b86; */
	background: #9c3386;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.simmer > a.z-link,
.mobile-tabbednav li.simmer {
	background: #ee3a31;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.soul > a.z-link,
.mobile-tabbednav li.soul {
	background: #ffc53b;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.satisfy > a.z-link,
.mobile-tabbednav li.satisfy {
	background: #89bc54;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.simplify > a.z-link,
.mobile-tabbednav li.simplify {
	background: #00a3c4;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.sweat > a.z-link,
.mobile-tabbednav li.sweat {
	background: #ff762e;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.scoop > a.z-link,
.mobile-tabbednav li.scoop {
	background: #1848a0;
}
.mobile-tabbednav li.yoffie-blog {
	background: #349e7a;
}
.mobile-tabbednav li.challenge-board {
	background: #ce3a98;
	display: block !important;
}

.z-tabs.vertical > ul.z-tabs-nav > li.z-active > a.z-link {
	font-weight: normal;
}

.z-tabs.vertical > ul.z-tabs-nav > li.z-active > a.z-link:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


#arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #dcdcdc;
	border-width: 26px;
	top: 50%;
	margin-top: -26px;
}

.z-tabs.vertical > ul.z-tabs-nav > li.z-active > a.z-link:hover {
	cursor: normal;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li > a.z-link span,
.mobile-tabbednav li a span {
	display: inline;
	margin-left: 10px;
	font-family: 'BrandonGrotesque-Regular', 'Century Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
}

.z-tabs > .z-container > .z-content > .z-content-inner {
	padding: 0;
}

.z-tabs.vertical.z-shadows > ul.z-tabs-nav, .z-tabs.vertical.z-shadows > .z-container {
	border: 0;
}

#tabbed-nav .entry-thumbnail img {
	//margin-top: -20px;
}

#tabbed-nav .entry-thumbnail .title {
	text-transform: uppercase;
	position: relative;
	background: rgba(0,0,0, .55);
	color: #fff;
	width: 100%;
	padding: 4px 0 0 20px;
	position: absolute;
	top: 0;
	font-size: 14px;
	letter-spacing: .5px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
}
#tabbed-nav .entry-container {
	background: rgba(255,255,255,.88);
	position: absolute;
	left: 0;
	bottom: 55px;
	text-align: left;
	width: 60%;
	min-width: 300px;
}
#tabbed-nav .entry-title {
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 4px 20px 20px;
	line-height: 1.2em;
}

#tabbed-nav a .entry-title {
	color: #141412;
}
#tabbed-nav a:hover .entry-title {
	color: #141412;
}

#tabbed-nav a .entry-container .view {
	height: 16px;
	color: #fff;
	font-size: .7em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 2px 20px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif;
	line-height: 17px;
	padding-top: 4px;
}
#tabbed-nav a .entry-container .view .left {
	float: left;
}
#tabbed-nav a .entry-container .view .right {
	float: right;
}

/* --- NEW: Arrows on Front Page Slider --- */
.arrow-left {
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	display: none;
	position: absolute;
	border-right:20px solid blue;
	padding: 0px;
	margin: 0px;
	z-index: 150;
	margin-left: -20px;
}

li.z-active .arrow-left {
	display: inline-block;
}

.z-tabs > ul.z-tabs-nav > li {
	overflow: visible;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.simmer > div.arrow-left,
.mobile-tabbednav li.simmer {
	border-right:20px solid #ee3a31;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.soul > div.arrow-left {
	border-right:20px solid #ffc53b;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.satisfy > div.arrow-left {
	border-right:20px solid #89bc54;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.simplify > div.arrow-left {
	border-right:20px solid #00a3c4;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.sweat > div.arrow-left {
	border-right:20px solid #ff762e;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.spark > div.arrow-left {
	border-right:20px solid #9c3386;
}

.z-tabs.z-multiline.large > ul.z-tabs-nav > li.scoop > div.arrow-left {
	border-right:20px solid #1848a0;
}

/* --- Loading Gif --- */
#loading {
	width: 100%;
	height: 350px;
	text-align: center;
}

#loading.loader-image {
	margin-right: auto;
	margin-left: auto;
}

.hide-until-load {
	display: none;
}

/*--------------- SERVICES -------------------*/

#services-categories, #experts-categories {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
}

#services-categories .sub-category-button, #experts-categories .sub-category-button  {
	font-size: 15px;
	margin-bottom: 0;
	margin-top: 20px;
}

.overlay h2  {
	margin-top: 5px;
}

.services-sub {
	font-size: 18px;
	font-style: italic;
}

#services-categories a:nth-child(3n+2) .sub-category-button, #experts-categories a:nth-child(3n+2) .sub-category-button {
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.experts .overlay,
.services .overlay {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
   	width: 100%;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
    padding: 25px;
    border: 2px solid black;
	margin: auto;
    background: url('images/transparent-slightly-darker-black.png') repeat;
	color: #fff;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}
.services .overlay {
	max-height: 380px;
}

.experts .overlay a.overlay-close,
.services .overlay a.overlay-close {
	float: right;
	display: block;
	color: #fff;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	font-size: 22px;
}

 ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 5px;
}

/* Handle */
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
 ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.overlay span.divider {
	padding: 0 4px;
}

#experts-categories .sub-category-button span {
	bottom: 0;
	top: auto;
}

.experts .overlay  h2 a,
.services .overlay h2 a {
	color: #fff;
}

.overlays.experts h2 a.simmer {
	color: #ed462f;
}

.overlays.experts h2 a.sweat {
	color: #ff762e;
}

.overlays.experts h2 a.satisfy {
	color: #89bc54;
}

.overlays.experts h2 a.simplify {
	color: #00a3c4;
}

.overlays.experts h2 a.soul {
	color: #ffc53b;
}

.overlays.experts h2 a.spark {
	color: #9c3386;
}
.overlays.services a {
	color: #fff;
}
.overlays.services a:hover {
	color: #ac0404;
}

.overlays.experts a.spark:hover, #experts-categories a.sweat:hover, #experts-categories a.satisfy:hover, #experts-categories a.simplify:hover, #experts-categories a.simmer:hover, #experts-categories a.soul:hover {
	color: #fff;
}

.overlays.experts .social-icon {
	display: inline-block;
	clear: none;
	vertical-align: middle;
}

#experts-categories .overlay ol {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	list-style: decimal;
}


#experts-categories .overlay ol li {	
	padding-left: 0;
}

#experts-categories .overlay ol:before, #experts-categories .overlay ol li:before {
	content: "";
}


/*--------------- DICTIONARY  -------------------*/

.wp-nutrition-label {
	margin: 15px 0 15px 0!important;
	width: 100%!important;
	font-family: Lato!important;
}

.wp-nutrition-label .heading {
	font-size: 1.4em!important;
}

.index-letter {
	clear: both;
	font-size: 2em;
	text-align: left;
	display: block;
	margin: 0px auto 15px;
	padding-top: 50px;
	width: 100%;
	color: #dcdcdc;
	border-bottom: 2px solid #dcdcdc;
}

.index-title {
	
}

.index-title img {

}

#index-nav-list {
	text-align: center;
	margin-bottom: 25px;
}

.index-nav {
	font-size: 18px;
	padding: 0 6px;
	display: inline-block;
}

a.backtotop {
	font-size: 14px;
	float: right;
	color: #dcdcdc;
	text-transform: uppercase;
}

a.backtotop:hover {
	color: #ee3a31;
}

/*--------------- SCOOP  -------------------*/

.page-id-1311 .sidebar-inner .widget-area #execphp-2 #yoffie-updates-info, 
.page-id-1311 .sidebar-inner .widget-area #yoffie_bio_widget-2 #yoffie-updates-info, 
.category-letters-to-the-reader .sidebar-inner .widget-area #yoffie_bio_widget-2 #yoffie-updates-info {
	display: none;
}

.page-id-1311 .sidebar-inner .widget-area #execphp-2 #yoffie-updates-info-2,
.page-id-1311 .sidebar-inner .widget-area #yoffie_bio_widget-2 #yoffie-updates-info-2,
.category-letters-to-the-reader .sidebar-inner .widget-area #yoffie_bio_widget-2 #yoffie-updates-info-2 {
	display: block;
}

.page-id-1311 .sidebar-inner .widget-area #text-52 {
	display: none;
}

/*--------------- COMMENTS  -------------------*/

#comments .oneall_social_login iframe {
	margin-left: 0;
}

#comments p.form-allowed-tags {
	display: none;
}

.comment-form-comment textarea, .comment-form-comment input {
	-webkit-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: inset 1px 1px 3px 2px rgba(85,85,85,0.15);
	background: #fff;
	background-color: #fff;
	bordeR: 0;
}

#comments input#submit {
	text-transform: uppercase;
}

.single .moot {
	padding: 35px;
	margin-top: 25px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

/*--------------- REGISTRATION  -------------------*/

#gform_page_1_2 .gfield_label {
	display: none;
}

#gform_page_1_2 #field_1_27 .gfield_label {
	display: block;
}

#gform_page_1_2 ul.gform_fields > li {
	display: inline-block;
	width: 48.5%;
	vertical-align: top;
	margin-bottom: 20px;
	margin-top: 15px;
}

#gform_page_1_2 ul.gform_fields > li:nth-child(even) {
	margin-right: 2%;
}

#gform_page_1_2 ul.gform_fields > li:first-child {
	display: block;
	width: 100%;
}

#gform_page_1_2 .newsletter-label {
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif; 
	font-size: 20px;
}

#gform_page_1_2 .newletter-img {
	width: 125%;
	margin-left: -25px;
}

#gform_page_1_2 ul.gform_fields > li.all-newsletters, #gform_page_1_2 ul.gform_fields > li.how-did-you-hear {
	width: 100%;
}

/*--------------- GALLERIES  -------------------*/

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33% - 4px);
	max-width: calc(33% - 4px);
}

.gallery-caption {
	opacity: 1;
}

/*--------------- NEWSLETTER POPUP  -------------------*/

#newsletter-optin-wrapper {
	width: 400px;
	height: 450px;
}

#newsletter-optin {
	text-align: center;
	padding: 176px 30px 0;
}

#newsletter-optin input {
	background: none;
	color: #fff;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', sans-serif; 
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 7px 13px 4px;
	border: 2px solid #fff;
	display: inline-block;
	float: left;
	margin-left: 23px;
}

#newsletter-optin ::-webkit-input-placeholder {
color: #fff; 
text-transform: uppercase;
}

#newsletter-optin :-moz-placeholder { /* Firefox 18- */
color: #fff; 
text-transform: uppercase;
}

#newsletter-optin ::-moz-placeholder { /* Firefox 19+ */
color: #fff; 
text-transform: uppercase; 
}

#newsletter-optin :-ms-input-placeholder { 
color: #fff; 
text-transform: uppercase; 
}

#newsletter-optin input#newsletter-subscribe {
	margin-top: -23px;
	background: #fff;
	color: #333;
	margin-left: 0;
	box-shadow: none;
	border-radius: 0;
}

/*--------------- PLUGIN EDITS  -------------------*/

#upprev_box h6 {
	display: none;
}

#upprev_box div.upprev_excerpt:before {
	content: 'READ CHALLENGE';
	display: block;
	font-size: 12px;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 5px;
}

/*--------------- AUTHOR PAGE  -------------------*/

.author .archive-title {
	text-transform: none;
}

.author .archive-title span {
	font-size: .75em;
}

.author-description ol {
	margin-top: 20px;
}

.author .author-social {
	display: block;
	margin-bottom: -5px;
}
.author .author-social .social-icon {
	float: none;
	display: inline-block;
}

.author-info {
	max-width: 100% !important;
	padding: 0 !important;
}

#author-challenges {
	padding-top: 40px;
}

.author .triple-grid {
	margin-top: 20px;
}
.author-description {
	display: block;
	height: 95px;
	overflow-y: hidden;
	transition: opacity 500 ease-in-out;
	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
}
.author-description.open {
	height: 100%;
	overflow-y: visible;
}
.author-info .button-holder {
	//width: 100%;
	//margin: 25px auto 0;
	text-align: left;
}
.author-info .expandbio {
	font-style: italic;
	color: #ee3a31;
}

.author-info .expandbio.close {
	margin-top: 15px;
	text-align: center;
	display: block;
}

.author-info .expandbio:hover {
	cursor: pointer;
}

.author-info .expandbio.hidden {
	display: none;
}

a.author-button {
	border: 2px solid #fff;
	color: #fff;
	font-size: 14px;
	padding: 4px 8px 3px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 10px;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Bold', 'Century Gothic', "Trebuchet MS", Arial, sans-serif;
	vertical-align: middle;
	height: 30px;
}

a.author-button:hover {
	background: #fff;
	color: #000;
}

/*--------------- SpreadSheets  -------------------*/

.igsv-table {
	font-size: 14px;
	//display: block;
	line-height: 17px;
	margin: 25px 0;
	//padding: 15px 20px 10px;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	-moz-box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
	box-shadow: 1px 1px 3px 2px rgba(85,85,85,0.15);
}

.igsv-table tr.odd {
	background: #efefef;
}

.igsv-table th, .igsv-table td {
	max-width: 200px;
	padding: 5px;
}

.igsv-table th.col-1, .igsv-table td.col-1 {
	padding-left: 10px;
}

.igsv-table th:last-child, .igsv-table td:last-child {
	padding-right: 10px;
}

/*--------------- Work out  -------------------*/

.workout-title {
    position: relative;
    padding-bottom: 3px;
    border-bottom: 2px solid #141412;
}

.workout-title .entry-title {
    font-size: 23px;
    margin: 0;
    color: white;
    background: #f87826;
    padding: 5px 70px 0 12px;
}

.workout-title .buttons {
    position: absolute;
    top: 8px;
    right: 10px;
}

.workout-title .buttons .cboard-wrapper {
    display: inline-block;
}

.workout-title .buttons a {
    color: white;
    font-size: 25px;
}

.workout-title .buttons .favorites-link {
    margin-right: 10px;
    display: inline-block;
    margin-top: 0;
}

.workout-title .buttons .favorites-link .fa {
    font-size: 25px;
    margin: 0;
}

.workout-title .buttons .favorites-link .text {
    display: none;
}

.workout-title .buttons .favorites-link .cLoader:before {
    color: white;
}

.workout-title .buttons a.share {
    position: relative;
    top: -4px;
}

.workout-content .entry-header {
    border-bottom: none;
}

.workout-content .entry-header #social-share {
    display: none;
    border-bottom: none;
    padding-top: 5px;
    text-align: right;
}

.workout-entry {
    padding-top: 30px;
    margin-bottom: 15px;
    position: relative;
}

.workout-entry .column {
    float: left;
}

.workout-entry .main-image {
    text-align: center;
    width: 30%;
    min-height: 300px;
}

.workout-entry .main-image img {
    max-width: 100%;
}

.workout-entry .main-info {
    text-align: center;
    padding: 0 10px;
    width: 45%;
    padding-bottom: 50px;
}

.exercise-title {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.workout-entry .instructions {
    padding-top: 30px;
    font-weight: bold;
}

.workout-entry .instruction {
    display: none;
}

.workout-entry .instruction.active {
    display: block;
}

.workout-entry .steps {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.workout-entry .step {
    position: relative;
    padding-bottom: 15px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.workout-entry .step:after {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    background: black;
}

.workout-entry .step.active:after {
    background: #ee3a31;
}

.workout-entry .meta {
    width: 25%;
}

.workout-entry .meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
}

.workout-entry .meta li {
    padding: 2px 5px;
    margin-bottom: 1px;
}

.workout-entry .meta a {
    color: white;
    font-weight: bold;
}

.workout-entry .meta .tags li {
    background: #757677;
}

.workout-entry .meta .info li {
    background: #9e9fa0;
}

.workout-entry .meta .info .name {
    float: left;
}

.workout-entry .meta .info .value {
    float: right;
}

.exercise-info {
    display: none;
}

.exercise-info.active {
    display: block;
}

.workout-slider {
    position: relative;
    padding: 10px 37px 20px;
    border-top: 1px dashed #dcdcdc;
    border-bottom: 1px dashed #dcdcdc;
}

.workout-slider .slides {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workout-slider .slides li {
    float: left;
    padding: 30px 0 10px;
    position: relative;
    text-align: center;
    width: 120px;
    cursor: pointer;
    margin-right: 2px;
}

.workout-slider .cboard-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.workout-slider .cboard-wrapper .favorites-link {
    margin-top: 0;
}

.workout-slider .cboard-wrapper .favorites-link .fa {
    font-size: 16px;
    margin: 0;
}

.workout-slider .cboard-wrapper a {
    font-size: 16px;
}

.workout-slider .cboard-wrapper .cLoader:before {
    color: #a0a0a0;
}

.workout-slider .cboard-wrapper .text {
    display: none;
}

.workout-slider .image {
    padding: 0 10px;
    min-height: 150px;
}

.workout-slider .image img {
    max-width: 100%;
}

.workout-slider .title {
    margin-top: 5px;
    padding: 3px;
    color: #141412;
    min-height: 52px;
}

.workout-slider .active .title {
    background: #ff9000;
    color: white;
}

.workout-slider .flex-direction-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.workout-author {
    margin-top: 50px;
}

.workout-author .image {
    width: 150px;
    float: left;
}

.workout-author .image img {
    width: 100%;
}

.workout-author .content {
    margin-left: 160px;
}

.workout-author .description {
    line-height: 20px;
}

.workout-author .name {
    font-weight: bold;
}

.workout-slider .flex-direction-nav .flex-prev, .workout-slider .flex-direction-nav .flex-next { width: 31px; height: 90px; top: 100px; opacity: 1; }
.workout-slider .flex-direction-nav .flex-prev:before, .workout-slider .flex-direction-nav .flex-next:before { display: none; }
.workout-slider .flex-direction-nav .flex-prev { background: url('images/slider-left.png'); left: 0; }
.workout-slider .flex-direction-nav .flex-next { background: url('images/slider-right.png') ; right: 0; }


pre#embed-code {
	background: 0;
	padding: 0;
}

@media only screen and (max-width: 650px) {
    .workout-content .column {
        float: none;
        width: 100%;
    }

    .workout-entry .steps {
        position: static;
        margin-top: 30px;
    }
}