﻿<ul>   
    <li>Responsive &amp; touch-friendly </li>
    <li>Horizontal &amp; vertical accordion </li>
    <li>Load content with AJAX</li>
    <li>accordion slider with images</li>
    <li>CSS3 transitions with fallback (superfast on mobile & tablet)</li>  
    <li>Semantic HTML5 &amp; SEO friendly </li>   
    <li>Keyboard navigation &amp; WAI-ARIA support </li>
    <li>10 unique skins, nested &amp; multiple instances </li>
    <li>Free updates &amp; support </li>
</ul>
