﻿<!--

<ul>
    <li>white</li>
    <li>crystal</li>
    <li>silver</li>
    <li>gray</li>
    <li>black</li>
    <li>orange</li>
    <li>red</li>
    <li>green</li>
    <li>yellow</li>
    <li>purple</li>
    <li>blue</li>
    <li>lightblue</li>
    <li>deepblue</li>
</ul>
-->